body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.generalInfo, .education, .work {
  display:flex;
  flex-direction: column;
  width: 300px;
}

.generalInfo >label, .education>label, .work>label {
  margin-top: 20px;
  width:100%;
}

.generalInfo >label>input, .generalInfo >label>textarea, .education>label>input , .education>label>textarea, .work>label>textarea, .work>label>input{
  margin-top:10px;
}